<!-- Navbar is fetch with js -->
<nav>    
    <div class="nav-head">
        <div class="nav-logo">
            <a href="../../Pages/Main/main.html" class="brand-logo"> 
                <span>
                    <i class="ri-graduation-cap-fill"></i>
                </span>
                VisualSkill
            </a>
        </div>
        <div class="nav-menu-btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
        </div>
    </div>
    <ul class="nav-links" id="nav-links">
        <li><a href="../../Pages/Main/main.html">Home</a></li>
        <li><a href="../../Pages/Career/career.html">Career</a></li>
        <li><a href="../../Pages/Course/course.html">Course</a></li>
        <li><a href="../../Pages/About Us/aboutUs.html">About Us</a></li>
    </ul>
    <div class="nav-btns">
        <a href="../../Pages/Register/signUp.html" class="btn">Sign Up</a>
    </div>
</nav>

