<!-- Footer is fetch with js -->
<footer class="footer">
    <div class="footer-container">
        <!-- Brand -->
            <div class="footer-left">
        <div class="footer-logo">
            <a href="../../Pages/Main/main.html" class="brand-logo"> 
            <span>
                <i class="ri-graduation-cap-fill"></i>
            </span>
                VisualSkill
            </a>
        </div>

            <p>
                Learn programming, build real projects, and start your tech career
                with VisualSkill
            </p>

            <p class="footer-copy">&copy; 2026 VisualSkill</p>
            </div>

            <!-- NAVIGATION -->
            <div class="footer-links">
            <h4>Navigation</h4>
            <a href="../../Pages/Main/main.html">Home</a>
            <a href="../../Pages/Career/career.html">Career</a>
            <a href="../../Pages/Course/course.html">Course</a>
            <a href="../../Pages/About Us/aboutUs.html">About Us</a>
            </div>

            <!-- Partner -->
            <div class="footer-partner">
            <h4>Academic Partner</h4>

            <div class="partner-logo">
                <a href="https://socs.binus.ac.id/"><img src="../../Asset/logo SOCS.png" alt="Binus University School Of Computer Science"></a>
            </div>
            </div>

            <!-- Social -->
            <div class="footer-social">
                <h4>Follow Us</h4>

                <div class="social-icons">
                    <a href="https://youtube.com/@korbankamikaze6289?si=3ZqcEq_zQDuUVCxw"><i class="ri-youtube-line"></i></a>
                    <a href="https://www.instagram.com/skill_verseid/"><i class="ri-instagram-line"></i></a>
                    <a href="https://www.tiktok.com/@skill_verseid?_r=1&_t=ZS-93MCFIWntkT"><i class="ri-tiktok-line"></i></a>
                </div>
            </div>
    </div>
</footer>